div.nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  font-family: "Montserrat", sans-serif;
  border-right: 3px solid rgb(206, 206, 206);
  width: 60vh;
}
div.logo {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 70px;
  gap: 5px;
}
div.logo span {
  background-color: rgb(205, 205, 205);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 40px;
}
div.smartpos {
  font-size: 15px;
  color: rgb(156, 155, 155);
  margin-left: 4rem;
}
div.menu {
  display: flex;
  margin: 10px;
  flex-direction: column;
  gap: 10px;
}
div.logo img {
  width: 25px;
  height: 25px;
}
div.menu button {
  background-color: white;
  border: none;
  display: flex;
  text-align: center;
  align-items: center;
  gap: 5px;
  text-transform: capitalize;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  width: 12rem;
  height: 3rem;
}
div.user {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5%;
  width: 200px;
}
div.pfp img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-block: 20px;
}
div.user .name {
  font-weight: 900;
}
div.open-profile button {
  background-color: rgb(219, 218, 218);
  border-radius: 5px;
  margin-block: 30px 10px;
  height: 2rem;
  width: 10rem;
  border: none;
}
div.menu button:hover {
  background-color: orange;
}
div.description {
  font-size: 0.75rem;
  margin-top: 0.5rem;
  font-weight: 300;
}
